@page "/benzene"
@using System.Text.Json.Nodes
@using PokemonBlazor.Services
@inject CircleK CircleKApi

<PageTitle>Benzene</PageTitle>

<h1>Benzene</h1>

<p>This component demonstrates fetching data from the api.</p>

@if (miles95PricePoints != null)
{
    <ApexChart TItem="GasPricePoint" Title="Gas prices" XAxisType="XAxisType.Datetime" >
        <ApexPointSeries TItem="GasPricePoint" Items="miles95PricePoints" Name="Benzene" SeriesType="SeriesType.Line" XValue="data => data.Date" YValue="data => data.Price" />
        <ApexPointSeries TItem="GasPricePoint" Items="dieselPricePoints" Name="Diesel" SeriesType="SeriesType.Line" XValue="data => data.Date" YValue="data => data.Price" />
    </ApexChart>
}

@code {
    private List<GasPricePoint>? miles95PricePoints;
    private List<GasPricePoint>? dieselPricePoints;

    protected override async Task OnInitializedAsync()
    {
        miles95PricePoints = await CircleKApi.GetAsync<List<GasPricePoint>?>("miles95");
        dieselPricePoints = await CircleKApi.GetAsync<List<GasPricePoint>?>("diesel");
    }

    public class GasPricePoint
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }
    }
}
